# Data Science Tools and Ecosystem

## Author

Name:         D
Last Name:    MG

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Objectives:
-  List popular languages for Data Science
-  Utilize languages commonly used by data scientists like Python, R, and SQL   
-  Demonstrate working knowledge of tools such as Jupyter notebooks and RStudio and utilize their various features

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

## Data Science tools

1. Jupyter Notebook
2. RStudio
3. Apache Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335